.product-img-container{
    width: fit-content;
    margin: 0 auto;
    padding: 30px 90px;
}

@media screen and (max-width: 450px){
    .product-img-container{
        display: flex;
        flex-direction: column;
    }
    .image-container{
        width: 100%;
        max-width: 100%;
    }
    .product-img-container{
        padding: 20px;
    }
    .video-container{
        width: 100%;
        max-width: 100%;
    }
    #production-description{
        font-size: 3rem;
        padding: 10px;
    }
    .production-description-footer{
        padding: 0px 20px;
    }
}