@font-face{
    font-family: Neue Montreal;
    src: url(assets/Fonts/NeueMontreal-Regular.otf);
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Neue Montreal';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}